.user-profile {
    margin-bottom: 30px;
}

.user-profile h3 {
    margin: 0 0 5px 0;
}

.user-profile p {
    font-size: 0.9em;
    color: #aaa;
    margin: 0;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    margin-bottom: 15px;
}

.main-nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.2s;
}

.main-nav a:hover {
    color: var(--accent-color);
}